		.main{
			display: flex;
			justify-content: center;
		}
		.main-container{
			width: 60%;
			display: grid;
			grid-template-columns: 70% 27%;
			grid-template-areas: 'timeline histories';
			grid-column-gap: 3%;
			margin-top:100px;
		}

		@media screen and (max-width: 1000px){
			.main-container{
				grid-template-columns: 100%;
				grid-template-areas: 'timeline';
				margin-top:80px;
			}
		}
		@media screen and (max-width: 640px){
			.main-container{
				width: 100%;
				margin-top:27px;
			}
		}
		@media screen and (max-width: 565px){
		    }