body{
			background: #fafafa;
			margin:0;
			padding: 0;
			font-family: Helvetica;
			color:#262626;
		}

.loading{
	width: 100%;
	height: 100vh;
	font-size:65px;
	/*color: ;*/
	display: flex;
	justify-content: center;
	align-items: center;
	color: #999;
}