.card .card-header{
			display:flex;
			align-items: center;
			padding: 15px;
		}
		.card .card-header span{
			margin-left: 10px;
			font-weight: bold;
		}
		.card .card-header img {
			width: 30px;
			height: 30px;
			border-radius:50%;
		}
