.header{
			display:flex;
			flex-direction: row;
			border-bottom:1px solid #e3e3e3;
			background: white;
			justify-content: center;
			position:fixed;
			left:0;
			right: 0;
		}
.header-content{
			display:flex;
			justify-content: space-between;
			align-items: center;
			padding:15px 40px;
			flex-direction: row;
			width: 70%;
		}

@media screen and (max-width: 1000px){
	.header-content{
		width: 100%;
	}
}
@media screen and (max-width: 640px){
			
}
@media screen and (max-width: 565px){
	.header-content{
		padding: 10px 10px;
	}
}