.header-content .icons{
			font-size: 24px;
			display: flex;
			white-space: nowrap;
			width: auto;
		}
		.header-content .icons svg{
			padding-left:24px; 
		}

@media screen and (max-width: 565px){
	.header-content .icons{
				margin-right: 12px;
	}
}